.character-card {
  max-width: fit-content;
  overflow: hidden;
  margin: 1rem;
  border-radius: 3px;
  background: #e0e0e0;
  box-shadow: 1rem 1rem 2rem #9b9b9b, -1rem -1rem 2rem #ffffff;

  &:hover &__image,
  &:active &__image {
    transform: scale(1.1);
  }

  &__title {
    text-align: center;
  }

  &__image-container {
    overflow: hidden;
    width: 30rem;
    height: 40rem;
    margin-bottom: 1rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }

  &__info {
    padding: 2rem;

    > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
